*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-home{
    background-image: url(img/home-bg.jpg);
    background-size: cover;
}
.padding-home{
    padding-top: 20vh;
    padding-bottom: 0vh;
}
.phone{
    width: 50%;
}
.col-phone{
    bottom: -15vh;
}
.space-20{
    width: 100%;
    height: 20vh;
}
.space-10{
    width: 100%;
    height: 10vh;
}
.header-section{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.header-text{
    width: 90%;
    border-bottom: none;
    height: 100%;
    background-color: white;
    transform: translate(0,50%);
}
.icon-work{
    width: 100px;
    height: 100px;
    line-height: 110px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3em;
}
.row-work{
    width: 70%;
    margin-bottom: 1.5rem;
}