@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.bg-home{
    background-image: url(img/home-bg.jpg);
    background-size: cover;
}
.padding-home{
    padding-top: 20vh;
    padding-bottom: 0vh;
}
.phone{
    width: 50%;
}
.col-phone{
    bottom: -15vh;
}
.space-20{
    width: 100%;
    height: 20vh;
}
.space-10{
    width: 100%;
    height: 10vh;
}
.header-section{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.header-text{
    width: 90%;
    border-bottom: none;
    height: 100%;
    background-color: white;
    transform: translate(0,50%);
}
.icon-work-left{
    width: 100px;
    height: 100px;
    line-height: 110px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3em;
    float: right;
}
.icon-work-right{
    width: 100px;
    height: 100px;
    line-height: 110px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3em;
    float: left;
}
.row-work{
    width: 100%;
    margin-bottom: 1.5rem;
}
.about-img{
    width: 100%;
}
.card-body{
    width: 100%;
}
.navbar-own{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.20);
    color: #000;
}
a{
    color: #f8f9fa;
}
a:hover{
    color: #f8f9fa;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}
.title-header{
    font-family: "Anton", sans-serif;
}
.bars{
    font-size: 2rem;
}
/*.navbar-own:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    
}
.navbar-own.affix {
    position: fixed;
    top: 0;
}

.navbar-own.affix:before {
    opacity: 1;
}*/