*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
.bg-home{
    background-image: url(img/home-bg.jpg);
    background-size: cover;
}
.padding-home{
    padding-top: 20vh;
    padding-bottom: 0vh;
}
.phone{
    width: 50%;
}
.col-phone{
    bottom: -15vh;
}
.space-20{
    width: 100%;
    height: 20vh;
}
.space-10{
    width: 100%;
    height: 10vh;
}
.header-section{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.header-text{
    width: 90%;
    border-bottom: none;
    height: 100%;
    background-color: white;
    transform: translate(0,50%);
}
.icon-work-left{
    width: 100px;
    height: 100px;
    line-height: 110px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3em;
    float: right;
}
.icon-work-right{
    width: 100px;
    height: 100px;
    line-height: 110px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3em;
    float: left;
}
.row-work{
    width: 100%;
    margin-bottom: 1.5rem;
}
.about-img{
    width: 100%;
}
.card-body{
    width: 100%;
}
.navbar-own{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: transparent;
    transition: 0.3s;
}
.navbar-own:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(72, 44, 191);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    
}
.navbar-own.affix {
    position: fixed;
    top: 0;
}

.navbar-own.affix:before {
    opacity: 1;
}